/* =========================================
   Google Fontsz
========================================= */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* ======= Font sizes ======= */
  --h1-font-size: 2.85rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.97rem;
  --h4-font-size: 1.43rem;
  --h5-font-size: 1.13rem;

  --xlarge-font-size: 1.48rem;
  --large-font-size: 1.23rem;
  --medium-font-size: 1.18rem;
  --base-font-size: 1.1rem;
  --small-font-size: 1.07rem;
  --tiny-font-size: 0.98rem;

  /* ======= Font weights ======= */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* ======= Layering order(z-index) ======= */
  --z-minus: -1;
  --z-base: 0;
  --z-low: 1;
  --z-high: 10;
  --z-content: 100;
  --z-tooltip: 1000;
  --z-fixed: 1100;
  --z-overlay: 1110;
  --z-modal: 1990;
  --z-max: 9999;
}

/* =========================================
   Reset / Normalize
========================================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* =========================================
  Base Styles
========================================= */
html {
  scroll-behavior: smooth;
}

body {
  background: darkred;
  transition: 0.3s;
}
body.light-theme {
  background: skyblue;
}

/* =========================================
   Reusable Styles
========================================= */
.wade-section {
  position: relative;
  overflow: hidden;
}
.wade-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.wade-sub-container {
  padding-top: 7em;
  padding-bottom: 5em;
}

.wade-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.section-title h3 {
  color: skyblue;
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 10px;
}
.light-theme h3 {
  color: darkred;
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 10px;
}

.section-title p {
  color: white;
  font-size: var(--base-font-size);
  font-weight: var(--font-regular);
}
.light-theme p {
  color: darkred;
  font-size: var(--base-font-size);
  font-weight: var(--font-regular);
}

.section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 75px;
}

/* =========================================
   Components
========================================= */

/* ========== Page scroll bar ========== */
::-webkit-scrollbar {
  width: 10px;
  background: linear-gradient(to right, darkblue, blue);
  border-radius: 25px;
}
.light-theme::-webkit-scrollbar {
  width: 10px;
  background: linear-gradient(to right, darkred, red);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: skyblue;
  border-radius: 25px;
}
.light-theme::-webkit-scrollbar-thumb {
  background-color: skyblue;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
  cursor: pointer;
}

/* ========== Customized cursor ========== */
.cursor {
  z-index: var(--z-max);
  position: fixed;
  /* top: 50%;
   left: 50%; */
  pointer-events: none;
}

.cursor-dot {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition-property: top, left, width, height;
  transition-duration: 0.03s, 0.03s, 0.3s, 0.3s;
}

.cursor-dot.large {
  background: white;
  width: 75px;
  height: 75px;
  opacity: 0.5;
  transition-property: top, left, width, height;
  transition-duration: 0.03s, 0.03s, 0.3s, 0.3s;
}

.cursor-circle {
  position: absolute;
  border: 2px solid white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  transition-property: top, left;
  transition-duration: 0.09s, 0.09s;
}

/* ========== To top button with scroll indicator bar ========== */
.to-top-btn {
  z-index: var(--z-fixed);
  position: fixed;
  background: linear-gradient(to right, darkblue, blue);
  height: 100px;
  width: 2px;
  bottom: 25px;
  right: -30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.light-theme .to-top-btn {
  z-index: var(--z-fixed);
  position: fixed;
  background: linear-gradient(to right, darkred, red);
  height: 100px;
  width: 2px;
  bottom: 25px;
  right: -30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.to-top-btn.active {
  right: 30px;
}

.to-top-btn a {
  color: skyblue;
  transition: 0.3s;
}
.light-theme .to-top-btn a {
  color: darkred;
  transition: 0.3s;
}

.to-top-btn a:hover {
  color: white;
}

.to-top-btn a span {
  position: absolute;
  left: 0;
  bottom: 155px;
  transform: rotateZ(90deg);
  transform-origin: left;
  font-size: 0.85rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.to-top-btn .scroll-indicator-bar {
  position: absolute;
  background: skyblue;
  width: 2px;
  height: auto;
  opacity: 0.5;
}
.light-theme .to-top-btn .scroll-indicator-bar {
  position: absolute;
  background: skyblue;
  width: 2px;
  height: auto;
  opacity: 0.5;
}

/* ========== Buttons ========== */
.wade-main-btn {
  background: linear-gradient(to right, darkblue, blue);
  width: fit-content;
  padding: 14px 30px;
  border-radius: 35px;
  cursor: pointer;
  transition: 0.3s;
}
.light-theme .wade-main-btn {
  background: linear-gradient(to right, darkred, red);
  width: fit-content;
  padding: 14px 30px;
  border-radius: 35px;
  cursor: pointer;
  transition: 0.3s;
}

.wade-main-btn:hover {
  color: white;
  background: blue;
}
.light-theme .wade-main-btn:hover {
  color: white;
  background: darkred;
}

.wade-main-btn a {
  color: skyblue;
  font-size: small;
  font-weight: 500;
  transition: 0.3s;
}

.wade-main-btn:hover a {
  color: white;
}

.fill-btn {
  background: linear-gradient(to right, darkblue, blue);
}

.fill-btn a {
  color: skyblue;
}

/* =========================================
   Header
========================================= */
.wade-header {
  z-index: var(--z-fixed);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px 0;
  transition: 0.3s ease;
}

.wade-header .shrink {
  background-color: darkblue;
  padding: 12px 0;
}

.wade-header .inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wade-logo a {
  color: skyblue;
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -3px;
  transition: 0.3s;
}
.light-theme .wade-logo a {
  color: darkred;
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -3px;
  transition: 0.3s;
}

.wade-logo a:hover {
  color: white;
}

.header-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}

.lets-talk-icon {
  color: skyblue;
  font-size: 1.8rem;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}
.light-theme .lets-talk-icon {
  color: darkred;
  font-size: 1.8rem;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}

.lets-talk-icon:hover {
  color: white;
}

/* ========== Dark/Light theme buttons ========== */
.theme-btn {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 27px;
  cursor: pointer;
}

.theme-btn i {
  position: absolute;
  color: skyblue;
  font-size: 1.7rem;
  cursor: pointer;
  transition: 0.3s;
}
.light-theme .theme-btn i {
  position: absolute;
  color: darkred;
  font-size: 1.7rem;
  cursor: pointer;
  transition: 0.3s;
}

.theme-btn:hover i {
  color: white;
  transform: rotate(-15deg);
}

/* .theme-btn .moon-icon {
  display: none;
} */

.theme-btn.active-sun-icon .moon-icon,
.theme-btn .sun-icon {
  opacity: 1;
  transition: 0.3s;
}

.theme-btn.active-sun-icon .sun-icon,
.theme-btn .moon-icon {
  opacity: 0;
  transition: 0.3s;
}

/* =========================================
   Bottom navigation menu
========================================= */
.bottom-nav-container {
  position: relative;
}

.bottom-nav {
  z-index: var(--z-fixed);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  /* bottom: 50px; */
  bottom: -75px;
  opacity: 0;
  transition: 0.5s ease, 0.3s ease;
  transition-property: bottom, opacity;
}

.bottom-nav.active {
  bottom: 50px;
  opacity: 1;
  transition: 0.5s ease, 0.3s ease;
  transition-property: bottom, opacity;
}

.bottom-nav-inner {
  position: relative;
}

.bottom-nav .menu {
  backdrop-filter: blur(10px);
  padding: 16px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  border-radius: 50px;
  border-bottom: 1px solid skyblue;
  border-top: 1px solid skyblue;
  /* display: none; */
}
.light-theme .bottom-nav .menu {
  backdrop-filter: blur(10px);
  padding: 16px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  border-radius: 50px;
  border-bottom: 1px solid darkred;
  border-top: 1px solid darkred;
  /* display: none; */
}

.bottom-nav .menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottom-nav .menu li a i {
  color: skyblue;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s;
}
.light-theme .bottom-nav .menu li a i {
  color: darkred;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 50%;
  transition: 0.3s;
}

.bottom-nav .menu li:hover a i {
  color: white;
  background: blue;
}
.light-theme .bottom-nav .menu li:hover a i {
  color: white;
  background: darkred;
}

.bottom-nav .menu .current i {
  color: white;
  background: linear-gradient(to right, darkblue, blue);
}
.light-theme .bottom-nav .menu .current i {
  color: white;
  background: linear-gradient(to right, darkred, red);
}

.bottom-nav .menu .current i:hover {
  background: blue;
}
.light-theme .bottom-nav .menu .current i:hover {
  background: darkred;
}

.bottom-nav .menu li a span {
  z-index: var(--z-tooltip);
  position: absolute;
  color: white;
  background: blue;
  font-weight: var(--font-medium);
  font-size: var(--tiny-font-size);
  padding: 3px 10px;
  transform: translateY(-53px);
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
}
.light-theme .bottom-nav .menu li a span {
  z-index: var(--z-tooltip);
  position: absolute;
  color: white;
  background: darkred;
  font-weight: var(--font-medium);
  font-size: var(--tiny-font-size);
  padding: 3px 10px;
  transform: translateY(-53px);
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
}

.bottom-nav .menu li:hover a span {
  opacity: 1;
}

.bottom-nav .menu li a span::before {
  content: "";
  z-index: var(--z-minus);
  position: absolute;
  background: blue;
  width: 10px;
  height: 10px;
  left: 50%;
  bottom: -8px;
  transform: rotate(45deg) translateX(-50%);
}
.light-theme .bottom-nav .menu li a span::before {
  content: "";
  z-index: var(--z-minus);
  position: absolute;
  background: darkred;
  width: 10px;
  height: 10px;
  left: 50%;
  bottom: -8px;
  transform: rotate(45deg) translateX(-50%);
}

.bottom-nav .menu-hide-btn {
  z-index: var(--z-fixed);
  position: absolute;
  top: -5px;
  right: 0;
  color: darkblue;
  font-size: 1.52rem;
  background: skyblue;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
  pointer-events: none;
  opacity: 0;
}
.light-theme .bottom-nav .menu-hide-btn {
  z-index: var(--z-fixed);
  position: absolute;
  top: -5px;
  right: 0;
  color: skyblue;
  font-size: 1.52rem;
  background: darkred;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
  pointer-events: none;
  opacity: 0;
}

.menu-hide-btn.active {
  pointer-events: all;
  opacity: 1;
}
.light-theme .menu-hide-btn.active {
  pointer-events: all;
  opacity: 1;
}

.bottom-nav .menu-hide-btn:hover {
  color: white;
}
.light-theme .bottom-nav .menu-hide-btn:hover {
  color: white;
}

.menu-show-btn {
  z-index: var(--z-fixed);
  position: fixed;
  background: linear-gradient(to right, darkblue, blue);
  backdrop-filter: blur(10px);
  width: 85px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  translate: -50% 0;
  left: 50%;
  bottom: -75px;
  opacity: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease, 0.3s ease;
  transition-property: bottom, opacity;
  overflow: hidden;
  animation: wiggle 2s linear infinite;
  animation-delay: 1s;
}
.light-theme .menu-show-btn {
  z-index: var(--z-fixed);
  position: fixed;
  background: linear-gradient(to right, darkred, red);
  backdrop-filter: blur(10px);
  width: 85px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  translate: -50% 0;
  left: 50%;
  bottom: -75pxpx;
  opacity: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease, 0.3s ease;
  transition-property: bottom, opacity;
  overflow: hidden;
  animation: wiggle 2s linear infinite;
  animation-delay: 1s;
}

.menu-show-btn.active {
  bottom: 50px;
  opacity: 1;
  transition: 0.5s ease, 0.3s ease;
  transition-property: bottom, opacity;
}

@keyframes wiggle {
  0%,
  5% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

.menu-show-btn .bar-01,
.menu-show-btn .bar-02 {
  background: skyblue;
  width: 40px;
  height: 4px;
  transition: 0.15s;
}
.light-theme .menu-show-btn .bar-01,
.light-theme .menu-show-btn .bar-02 {
  background: skyblue;
  width: 40px;
  height: 4px;
  transition: 0.15s;
}

.menu-show-btn:hover .bar-01,
.menu-show-btn:hover .bar-02 {
  background: white;
}
.light-theme .menu-show-btn:hover .bar-01,
.light-theme .menu-show-btn:hover .bar-02 {
  background: white;
}

/* =========================================
   Home
========================================= */
.home-container {
  height: 100vh;
}

.home-container .wade-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}

.avatar-img {
  position: relative;
  width: 225px;
  height: 225px;
}

.avatar-img img {
  position: absolute;
  width: 100%;
}

.home-social {
  position: absolute;
  left: 0;
}

.home-social span {
  position: absolute;
  left: 10px;
  color: skyblue;
  font-size: var(--tiny-font-size);
  white-space: nowrap;
  transform: rotateZ(-90deg);
  transform-origin: left;
}
.light-theme .home-social span {
  position: absolute;
  left: 10px;
  color: darkred;
  font-size: var(--tiny-font-size);
  white-space: nowrap;
  transform: rotateZ(-90deg);
  transform-origin: left;
}

.home-social .social-line {
  background-color: skyblue;
  width: 1px;
  height: 100px;
  margin-top: 37px;
  margin-bottom: 25px;
  margin-left: 10px;
}
.light-theme .home-social .social-line {
  background-color: darkred;
  width: 1px;
  height: 100px;
  margin-top: 37px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.home-social .social-icons {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.home-social .social-icons li a {
  color: skyblue;
  font-size: var(--xlarge-font-size);
  transition: 0.3s;
}
.light-theme .home-social .social-icons li a {
  color: darkred;
  font-size: var(--xlarge-font-size);
  transition: 0.3s;
}

.home-social .social-icons li a:hover {
  color: white;
}

.avatar-container .hire-btn-01 {
  display: none;
}

.avatar-info {
  position: relative;
}

.avatar-info .text-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.avatar-info .hello-text {
  color: skyblue;
  font-size: var(--base-font-size);
  font-weight: var(--font-semi-bold);
}
.light-theme .avatar-info .hello-text {
  color: darkred;
  font-size: var(--base-font-size);
  font-weight: var(--font-semi-bold);
}

.avatar-info .my-name {
  color: white;
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}

.avatar-info .what-i-do {
  color: skyblue;
  font-size: var(--base-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 35px;
}
.light-theme .avatar-info .what-i-do {
  color: darkred;
  font-size: var(--base-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 35px;
}

.home-scroll-btn {
  position: absolute;
  right: -5px;
  color: skyblue;
  display: grid;
  justify-items: center;
  row-gap: 3px;
  animation: up-down 1.5s linear infinite;
  animation-delay: 1.85s;
}
.light-theme .home-scroll-btn {
  position: absolute;
  right: -5px;
  color: darkred;
  display: grid;
  justify-items: center;
  row-gap: 3px;
  animation: up-down 1.5s linear infinite;
  animation-delay: 1.85s;
}

@keyframes up-down {
  0% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}

.home-scroll-btn:hover {
  color: white;
}

.home-scroll-btn div {
  font-size: var(--tiny-font-size);
  font-weight: var(--font-regular);
  writing-mode: vertical-lr;
  text-orientation: mixed;
  white-space: nowrap;
  transform: rotate(180deg);
  margin-top: 7px;
}

.home-scroll-btn i {
  font-size: 2rem;
}

/* =========================================
   About Me
========================================= */
.about-img {
  position: relative;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.about-img img {
  width: 100%;
  border-radius: 15px;
}

.about-details {
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-info .iam {
  color: white;
  font-size: var(--h4-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 30px;
}

.about-description {
  color: skyblue;
  font-size: var(--base-font-size);
  font-weight: var(--font-regular);
  line-height: 25px;
}
.light-theme .about-description {
  color: darkred;
  font-size: var(--base-font-size);
  font-weight: var(--font-regular);
  line-height: 25px;
}

.pro-list {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  column-gap: 10px;
  row-gap: 12px;
  margin: 38px 0;
}

.pro-card {
  background: linear-gradient(to right, darkblue, blue);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 35px 25px;
  text-align: left;
  border-radius: 5px;
}
.light-theme .pro-card {
  background: linear-gradient(to right, darkred, red);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 35px 25px;
  text-align: left;
  border-radius: 5px;
}

.pro-card span {
  color: skyblue;
  font-size: 2.75rem;
  font-weight: var(--font-bold);
}

.pro-card p {
  color: white;
  font-size: var(--tiny-font-size);
  font-weight: var(--font-regular);
  line-height: 20px;
  max-width: 100px;
}

.about-buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 25px;
}

/* =========================================
   My Resume
========================================= */
.resume-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 30px;
}

.resume-tabs .tab-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  color: skyblue;
  font-size: var(--medium-font-size);
  font-weight: var(--font-medium);
  padding: 12px 0;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.light-theme .resume-tabs .tab-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  color: darkred;
  font-size: var(--medium-font-size);
  font-weight: var(--font-medium);
  padding: 12px 0;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.resume-tabs .tab-btn:hover {
  color: white;
}

.resume-tabs .tab-btn i {
  color: skyblue;
  font-size: var(--xlarge-font-size);
  margin-right: 3px;
}

.resume-tabs .tab-btn.active {
  color: white;
  background: linear-gradient(to right, darkblue, blue);
  padding: 12px 15px;
}
.light-theme .resume-tabs .tab-btn.active {
  color: white;
  background: linear-gradient(to right, darkred, red);
  padding: 12px 15px;
}

.resume-tabs .tab-btn.active:hover {
  color: white;
  background-color: darkblue;
}
.light-theme .resume-tabs .tab-btn.active:hover {
  color: white;
  background-color: darkred;
}

.resume-tab-content {
  position: relative;
  /* display: flex; */
  width: 100%;
  justify-content: center;
  margin-bottom: 25px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.resume-tab-content.active {
  display: flex;
  opacity: 1;
}

.education .resum-line {
  background: skyblue;
  width: 2px;
  height: 380px;
  margin-bottom: 100px;
}
.light-theme .education .resum-line {
  background: darkred;
  width: 2px;
  height: 380px;
  margin-bottom: 100px;
}

.resume-items {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 125px;
}

.resume-items .item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-items .item::before {
  content: "";
  position: absolute;
  background: skyblue;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.light-theme .resume-items .item::before {
  content: "";
  position: absolute;
  background: darkred;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.resume-items .item .info {
  position: absolute;
  width: 250px;
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.resume-items .item-left .info {
  right: 35px;
}

.resume-items .item-right .info {
  left: 50px;
}

.resume-items .item .info i {
  color: skyblue;
  font-size: 2.15rem;
}
.light-theme .resume-items .item .info i {
  color: darkred;
  font-size: 2.15rem;
}

.resume-items .item .info h5 {
  color: white;
  font-size: var(--h5-font-size);
  font-weight: var(--font-semi-bold);
  white-space: break-spaces;
  margin-bottom: 10px;
}

.resume-items .item .info p {
  color: skyblue;
  font-size: var(--small-font-size);
  white-space: nowrap;
  margin-bottom: 18px;
}
.light-theme .resume-items .item .info p {
  color: darkred;
  font-size: var(--small-font-size);
  white-space: nowrap;
  margin-bottom: 18px;
}

.resume-items .item .info span {
  position: relative;
  background: linear-gradient(to right, darkblue, blue);
  color: skyblue;
  font-size: var(--font-medium);
  padding: 3px 12px;
  border-radius: 3px;
}
.light-theme .resume-items .item .info span {
  position: relative;
  background: linear-gradient(to right, darkred, red);
  color: skyblue;
  font-size: var(--font-medium);
  padding: 3px 12px;
  border-radius: 3px;
}

.experience .resume-line {
  background: skyblue;
  width: 2px;
  height: 250px;
}
.light-theme .experience .resume-line {
  background: darkred;
  width: 2px;
  height: 250px;
}

.education,
.experience {
  transform: translateY(35px);
}

.skill-container {
  max-width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: reapeat(2, 1fr);
  column-gap: 50px;
  row-gap: 50px;
}

.skill-card {
  position: relative;
  background: linear-gradient(to right, darkblue, blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 25px;
  border-bottom: 5px solid blue;
  border-radius: 10px;
}
.light-theme .skill-card {
  position: relative;
  background: linear-gradient(to right, darkred, red);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 25px;
  border-bottom: 5px solid red;
  border-radius: 10px;
}

.skill-title {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 50px;
}

.skill-title i {
  font-size: 2.15rem;
  color: skyblue;
}

.skill-title span {
  color: white;
  font-size: var(--medium-font-size);
  font-weight: var(--font-semi-bold);
}

.skill-categories {
  display: grid;
  place-items: start;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 65px;
  row-gap: 35px;
  padding: 0 50px;
}

.skill {
  display: flex;
  column-gap: 15px;
}

.skill-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.skill i {
  color: skyblue;
  font-size: 1.35rem;
}

.skill-info h5 {
  color: white;
  font-size: var(--h5-font-size);
  font-weight: var(--font-semi-bold);
}

.skill-info span {
  color: skyblue;
  font-size: var(--tiny-font-size);
}

/* =========================================
   Services
========================================= */
.service-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 35px;
  row-gap: 38px;
}

.service-card {
  position: relative;
  background: linear-gradient(to right, darkblue, blue);
  width: 275px;
  height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  border-bottom: 5px solid blue;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
.light-theme .service-card {
  position: relative;
  background: linear-gradient(to right, darkred, red);
  width: 275px;
  height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  border-bottom: 5px solid red;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.service-icon {
  color: skyblue;
  font-size: 4.15rem;
}

.service-info h4 {
  color: white;
  font-size: var(--h4-font-size);
  font-weight: var(--font-semi-bold);
  white-space: nowrap;
  max-width: 150px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.service-see-more {
  font-size: var(--base-font-size);
  color: skyblue;
  cursor: pointer;
  transition: 0.3s;
}

.service-see-more:hover {
  color: white;
}

.service-see-more i {
  font-size: 1.15rem;
  transition: margin-left 0.3s;
}

.service-see-more:hover i {
  margin-left: 3px;
  color: white;
}

.service-modal-backdrop {
  z-index: var(--z-overlay);
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.service-modal-backdrop.active {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.service-modal {
  position: relative;
  background: linear-gradient(to right, darkblue, blue);
  width: 825px;
  height: fit-content;
  margin: 75px 25px;
  padding: 50px 25px 50px 45px;
  border-radius: 15px;
  border-bottom: 5px solid blue;
  overflow: hidden;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s, opacity 05s;
}
.light-theme .service-modal {
  position: relative;
  background: linear-gradient(to right, darkred, red);
  width: 825px;
  height: fit-content;
  margin: 75px 25px;
  padding: 50px 25px 50px 45px;
  border-radius: 15px;
  border-bottom: 5px solid red;
  overflow: hidden;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s, opacity 05s;
}

.service-modal.active {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.5s, opacity 05s;
}

.modal-close-btn {
  position: absolute;
  color: skyblue;
  font-size: 1.35rem;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.modal-close-btn:hover {
  color: white;
}

.modal-content {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  max-height: 400px;
  margin-top: 50px;
  padding: 10px;
  overflow-y: auto;
}

.modal-content::-webkit-scrollbar {
  background: black;
  width: 5px;
  border-radius: 5px;
}

.modal-content::-webkit-scrollbar-thumb {
  background: skyblue;
  border-radius: 5px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: white;
}

.service-modal .modal-title {
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.service-modal .modal-title h3 {
  color: white;
  font-size: var(--h3-font-size);
  font-weight: 700;
}

.service-modal .modal-title p {
  color: skyblue;
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
  margin-top: 30px;
  margin-bottom: 20px;
}

.service-modal .modal-content h4 {
  color: white;
  font-size: var(--h4-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 15px;
}

.modal-content .my-services li {
  display: flex;
  margin-bottom: 25px;
}

.modal-content .my-services li i {
  color: skyblue;
  font-size: 1.4rem;
  margin-right: 10px;
}

.modal-content .my-services li p {
  color: white;
  font-size: var(--base-font-size);
  line-height: 22px;
}

/* =========================================
   Portfolio
========================================= */
.portfolio-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 15px;
  margin-bottom: 30px;
}

.portfolio-tabs .tab-btn {
  color: skyblue;
  font-size: var(--medium-font-size);
  font: var(--font-medium);
  padding: 12px 0;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.light-theme .portfolio-tabs .tab-btn {
  color: darkred;
  font-size: var(--medium-font-size);
  font: var(--font-medium);
  padding: 12px 0;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.portfolio-tabs .tab-btn:hover {
  color: white;
}

.portfolio-tabs .tab-btn.active {
  color: skyblue;
  background: linear-gradient(to right, darkblue, blue);
  padding: 12px 25px;
}
.light-theme .portfolio-tabs .tab-btn.active {
  color: skyblue;
  background: linear-gradient(to right, darkred, red);
  padding: 12px 25px;
}

.portfolio-tabs .tab-btn.active:hover {
  color: white;
  background: darkblue;
}
.light-theme .portfolio-tabs .tab-btn.active:hover {
  color: white;
  background: darkred;
}

.portfolio-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 55px;
}

.portfolio-container .card-with-modal {
  display: block;
}

.portfolio-container .card-with-modal.hidden {
  display: none;
}

.portfolio-card {
  position: relative;
  background: linear-gradient(to right, darkblue, blue);
  width: 350px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
.light-theme .portfolio-card {
  position: relative;
  background: linear-gradient(to right, darkred, red);
  width: 350px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.portfolio-card .card-img {
  width: 100%;
}

.portfolio-card .card-img img {
  width: 100%;
}

.portfolio-card .card-info {
  position: relative;
  padding: 10px 15px 20px 20px;
}

.portfolio-card .card-info span {
  color: white;
  font-size: var(--tiny-font-size);
  font-weight: var(--font-regular);
  text-transform: uppercase;
}

.portfolio-card .card-info h4 {
  color: skyblue;
  font-size: var(--medium-font-size);
  font-weight: var(--font-medium);
  margin-top: 5px;
}

.portfolio-card .card-info i {
  position: absolute;
  right: 0;
  bottom: 0;
  color: skyblue;
  font-size: 1.7rem;
  margin: 15px;
  transform: scale(0);
  transition: 0.3s;
}

.portfolio-card:hover .card-info i {
  transform: scale(1);
}

.portfolio-modal-backdrop {
  z-index: var(--z-overlay);
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio-modal-backdrop.active {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.portfolio-modal-backdrop::-webkit-scrollbar {
  background: black;
  width: 8px;
  border-radius: 5px;
}

.portfolio-modal-backdrop::-webkit-scrollbar-thumb {
  background: skyblue;
  border-radius: 5px;
}

.portfolio-modal-backdrop::-webkit-scrollbar-thumb:hover {
  background: white;
}

.portfolio-modal {
  position: relative;
  background: linear-gradient(to right, darkblue, blue);
  max-width: 900px;
  height: fit-content;
  margin: 75px 25px;
  padding: 50px 45px;
  border-radius: 15px;
  transform: scale(0);
  opacity: 0;
}
.light-theme .portfolio-modal {
  position: relative;
  background: linear-gradient(to right, darkred, red);
  max-width: 900px;
  height: fit-content;
  margin: 75px 25px;
  padding: 50px 45px;
  border-radius: 15px;
  transform: scale(0);
  opacity: 0;
}

.portfolio-modal.active {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s;
}

.portfolio-modal .modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
}

.portfolio-modal .modal-img {
  width: 100%;
}

.portfolio-modal .modal-img img {
  width: 100%;
  border-radius: 10px;
}

.portfolio-modal .modal-content .modal-title {
  color: white;
  font-size: var(--h4-font-size);
  font-weight: var(--font-semi-bold);
}

.portfolio-modal .modal-content .description {
  color: skyblue;
  font-size: var(--base-font-size);
  font-weight: var(--font-regular);
}

/* =========================================
   Testimonials
========================================= */
.testimonials {
  position: relative;
  width: 100%;
  margin-top: 12em;
}

.swiper {
  width: 100%;
  max-width: 1050px;
  height: 275px;
}

.swiper-slide {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 45px;
}

.swiper-slide .client-img {
  width: 185px;
}

.swiper-slide .client-img img {
  width: 100%;
  border-radius: 10px;
}

.swiper-slide .client-details {
  max-width: 500px;
  text-align: left;
}

.swiper-slide .client-details h3 {
  color: white;
  font-size: var(--xlarge-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 5px;
}

.swiper-slide .client-details span {
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
  color: skyblue;
}
.light-theme .swiper-slide .client-details span {
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
  color: darkred;
}

.swiper-slide .client-details p {
  color: skyblue;
  font-size: var(--base-font-size);
  font-weight: var(--font-regular);
  margin-top: 15px;
}
.light-theme .swiper-slide .client-details p {
  color: darkred;
  font-size: var(--base-font-size);
  font-weight: var(--font-regular);
  margin-top: 15px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next i,
.swiper-button-prev i {
  color: skyblue;
  font-size: 4.5rem;
  transition: 0.3s ease;
}
.light-theme .swiper-button-next i,
.light-theme .swiper-button-prev i {
  color: darkred;
  font-size: 4.5rem;
  transition: 0.3s ease;
}

.swiper-button-next i:hover,
.swiper-button-prev i:hover {
  color: white;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: linear-gradient(to right, darkblue, blue);
}
.light-theme .swiper-pagination-bullet,
.light-theme .swiper-pagination-bullet-active {
  background: linear-gradient(to right, darkred, red);
}

/* =========================================
   Contact Me
========================================= */
.contact-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}

.contact-info h3 {
  color: white;
  font-size: var(--base-font-size);
  font-weight: var(--medium-font-size);
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  margin-bottom: 50px;
}

.contact-item {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.contact-icon {
  color: skyblue;
  font-size: 2rem;
  background: linear-gradient(to right, darkblue, blue);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.light-theme .contact-icon {
  color: skyblue;
  font-size: 2rem;
  background: linear-gradient(to right, darkred, red);
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.contact-method {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.contact-method span {
  color: skyblue;
  font-size: var(--tiny-font-size);
  text-transform: uppercase;
}
.light-theme .contact-method span {
  color: darkred;
  font-size: var(--tiny-font-size);
  text-transform: uppercase;
}

.contact-method h4 {
  color: white;
  font-size: var(--base-font-size);
  font-weight: var(--medium-font-size);
}

.contact-method a {
  color: skyblue;
  transition: 0.3s;
}
.light-theme .contact-method a {
  color: darkred;
  transition: 0.3s;
}

.contact-method a:hover {
  color: white;
}

.contact-method a span {
  font-size: var(--small-font-size);
  text-transform: none;
}

.contact-method a i {
  font-size: var(--medium-font-size);
}

.contact-social-links {
  width: 100%;
  display: flex;
  column-gap: 10px;
}

.contact-social-links li {
  font-size: 1.75rem;
  background: linear-gradient(to right, darkblue, blue);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.light-theme .contact-social-links li {
  font-size: 1.75rem;
  background: linear-gradient(to right, darkred, red);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.contact-social-links li a {
  color: skyblue;
  transition: 0.3s;
}
.light-theme .contact-social-links li a {
  color: skyblue;
  transition: 0.3s;
}

.contact-social-links li a:hover {
  color: white;
}

.contact-form-body {
  position: relative;
  background: linear-gradient(to right, darkblue, blue);
  width: 100%;
  padding: 50px;
  border-radius: 35px;
}
.light-theme .contact-form-body {
  position: relative;
  background: linear-gradient(to right, darkred, red);
  width: 100%;
  padding: 50px;
  border-radius: 35px;
}

.contact-form-body h2 {
  color: white;
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form-body h2 span {
  color: skyblue;
}
.light-theme .contact-form-body h2 span {
  color: skyblue;
}

.contact-form-body p {
  color: skyblue;
  font-size: var(--tiny-font-size);
  margin-bottom: 45px;
}
.light-theme .contact-form-body p {
  color: skyblue;
  font-size: var(--tiny-font-size);
  margin-bottom: 45px;
}

.contact-form-body form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.contact-form-body form .input-group input,
.contact-form-body form .input-group textarea {
  color: white;
  font-size: var(--small-font-size);
  background: darkblue;
  width: 100%;
  border: none;
  outline: none;
  padding: 17px 20px;
  border-radius: 10px;
}
.light-theme .contact-form-body form .input-group input,
.light-theme .contact-form-body form .input-group textarea {
  color: white;
  font-size: var(--small-font-size);
  background: darkred;
  width: 100%;
  border: none;
  outline: none;
  padding: 17px 20px;
  border-radius: 10px;
}

.contact-form-body form .input-group textarea {
  height: 185px;
  resize: none;
}

.contact-form-body form .send-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.contact-form-body .input-group button {
  color: skyblue;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  width: 200px;
  padding: 16px 30px;
  margin-top: 10px;
  transition: 0.3s;
  border: none;
}

.contact-form-body .input-group button:hover {
  color: white;
}

.contact-form-alert {
  cursor: pointer;
}

.contact-form-alert span {
  color: white;
  font-size: var(--tiny-font-size);
  font-weight: var(--font-regular);
}

.contact-form-alert i {
  color: skyblue;
  font-size: 1.25rem;
}

/* =========================================
   Footer
========================================= */
.wade-footer {
  background: linear-gradient(to bottom, darkblue, blue);
  padding-top: 65px;
  padding-bottom: 135px;
}
.light-theme .wade-footer {
  background: linear-gradient(to bottom, darkred, red);
  padding-top: 65px;
  padding-bottom: 135px;
}

.light-theme .wade-footer .wade-container .inner .wade-logo a {
  color: skyblue;
}
.light-theme .wade-footer .wade-container .inner .wade-logo a:hover {
  color: white;
}

.wade-footer .wade-container .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 22px;
  row-gap: 22px;
}

.footer-menu .menu-item a {
  color: skyblue;
  font-size: var(--tiny-font-size);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  padding: 3px 12px;
  border-radius: 15px;
  transition: 0.3s;
}

.footer-menu .menu-item a:hover {
  color: white;
  background-color: skyblue;
}

.wade-footer .copy-right {
  color: skyblue;
  font-size: var(--small-font-size);
  margin-top: 10px;
}

.wade-footer .copy-right a {
  color: skyblue;
}

.wade-footer .copy-right a:hover {
  color: white;
  transition: 0.3s;
}

/* =========================================
   Media Queries (max-width: 1600px)
========================================= */
@media screen and (max-width: 1600px) {
  .cursor {
    display: none;
  }

  .wade-container {
    max-width: 1075px;
  }

  .avatar-img {
    width: 385px;
    height: 385px;
  }
}

/* =========================================
   Media Queries (max-width: 1200px)
========================================= */
@media screen and (max-width: 1200px) {
  .wade-container {
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
  }

  .section-content {
    flex-direction: column;
    column-gap: 0;
    row-gap: 50px;
  }

  .about-img {
    width: 375px;
  }

  .about-details {
    width: unset;
  }

  .about-info {
    display: grid;
    place-items: center;
  }

  .about-description {
    max-width: 700px;
  }

  .about-buttons {
    width: 100%;
    justify-content: center;
  }

  .skill-container {
    grid-template-columns: reapeat(1, 1fr);
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* =========================================
   Media Queries (max-width: 992px)
========================================= */
@media screen and (max-width: 992px) {
  .avatar-container {
    flex-direction: column-reverse;
    row-gap: 10px;
  }

  .avatar-container .hire-btn-01 {
    display: block;
  }

  .avatar-container .hire-btn-02 {
    display: none;
  }

  .avatar-img {
    width: 350px;
  }

  .avatar-info .text-content {
    align-items: center;
  }

  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .swiper {
    max-width: 700px;
    height: 450px;
  }

  .swiper-slide {
    flex-direction: column;
  }

  .swiper-slide .client-img {
    margin-bottom: 35px;
  }

  .swiper-slide .client-details {
    text-align: center;
  }

  .contact-container {
    flex-direction: column;
    row-gap: 75px;
  }

  .contact-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact-social-links {
    justify-content: center;
  }
}

/* =========================================
   Media Queries (max-width: 768px)
========================================= */
@media screen and (max-width: 768px) {
  :root {
    /* ======= Font sizes ======= */
    --h1-font-size: 2.3rem;
    --h2-font-size: 1.97rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.3rem;
    --h5-font-size: 1.05rem;

    --xlarge-font-size: 1.28rem;
    --large-font-size: 1.13rem;
    --medium-font-size: 1.06rem;
    --base-font-size: 1.1rem;
    --small-font-size: 1.93rem;
    --tiny-font-size: 0.88rem;
  }

  .wade-container {
    margin-left: 25px;
    margin-right: 25px;
  }

  .wade-logo a {
    font-size: 2.35rem;
  }

  .lets-talk-btn {
    display: none;
  }

  .lets-talk-icon {
    font-size: 1.6rem;
    display: block;
  }
  .light-theme .lets-talk-icon {
    font-size: 1.6rem;
    display: block;
  }

  .theme-btn i {
    font-size: 1.6rem;
  }

  .bottom-nav {
    bottom: -30px;
  }

  .bottom-nav.active {
    bottom: 30px;
  }

  .bottom-nav .menu li a i {
    font-size: 1.25rem;
  }

  .home-social .social-line {
    margin-top: 32px;
    margin-bottom: 20px;
  }

  .resume-items .item .info {
    width: 185px;
    column-gap: 15px;
  }

  .resume-items .item-left .info {
    right: 25px;
  }

  .resume-items .item-right .info {
    left: 75px;
  }

  .resume-items .item .info i {
    display: none;
  }

  .skill-card {
    padding: 50px 0;
  }

  .skill i {
    font-size: 1.25rem;
  }

  .skill-categories {
    place-items: start;
  }

  .service-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }

  .service-card {
    width: 245px;
    height: 250px;
  }

  .service-icon {
    font-size: 3.25rem;
  }

  .service-info h4 {
    white-space: wrap;
    max-width: unset;
  }

  .service-modal {
    padding: 50px 20px;
  }

  .portfolio-modal {
    padding: 50px 20px;
  }

  .portfolio-container {
    row-gap: 25px;
  }

  .swiper-button-next i,
  .swiper-button-prev i {
    font-size: 4rem;
  }

  .contact-form-body {
    padding: 35px;
    border-radius: 10px;
  }

  .footer-menu {
    column-gap: 10px;
  }

  .to-top-btn.active {
    right: 20px;
  }
}

/* =========================================
   Media Queries (max-width: 480px)
========================================= */
@media screen and (max-width: 480px) {
  :root {
    /* ======= Font sizes ======= */
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.9rem;
    --h3-font-size: 1.65rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 1.02rem;

    --xlarge-font-size: 1.25rem;
    --large-font-size: 1.1rem;
    --medium-font-size: 1.03rem;
    --base-font-size: 1rem;
    --small-font-size: 0.9rem;
    --tiny-font-size: 0.85rem;
  }

  .wade-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .wade-header {
    padding: 20px 0;
  }

  .header-btns {
    column-gap: 15px;
  }

  .home-container .wade-wrapper {
    flex-direction: column-reverse;
  }

  .home-social {
    position: relative;
  }

  .home-social span {
    display: none;
  }

  .home-social .social-line {
    display: none;
  }

  .home-social .social-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 35px;
  }

  .home-scroll-btn {
    display: none;
  }

  .avatar-container {
    row-gap: 0;
    width: 100%;
  }

  .avatar-img {
    width: 85%;
    height: fit-content;
    padding-bottom: 94%;
  }

  .bottom-nav {
    width: 100%;
    padding: 0 20px;
  }

  .bottom-nav .menu {
    padding: 17px 25px;
    justify-content: space-between;
    column-gap: 7px;
    width: 100%;
  }

  .bottom-nav .menu li a i {
    font-size: 1.15rem;
    padding: 7px;
  }

  .bottom-nav .menu-hide-btn {
    font-size: 1.25rem;
  }

  .menu-show-btn {
    width: 75px;
    height: 45px;
    row-gap: 4px;
    bottom: -30px;
  }

  .menu-show-btn.active {
    bottom: 30px;
  }

  .menu-show-btn .bar-01,
  .menu-show-btn .bar-02 {
    width: 37px;
    height: 3px;
  }

  .about-img {
    width: 100%;
    max-width: 375px;
  }

  .pro-list {
    grid-template-columns: repeat(auto-fill, minmax(160px, 2fr));
  }

  .pro-card {
    flex-direction: column;
    row-gap: 3px;
  }

  .pro-card span {
    font-size: 2.5rem;
  }

  .pro-card p {
    max-width: 100px;
    text-align: center;
  }

  .about-buttons {
    column-gap: 15px;
  }

  .resume-items .item .info {
    width: 140px;
  }

  .resume-items .item-left .info {
    right: 20px;
  }

  .resume-items .item-right .info {
    left: 45px;
  }

  .resume-items .item .info p {
    white-space: break-spaces;
  }

  .skill-container {
    row-gap: 35px;
  }

  .skill-card {
    padding: 35px 0;
  }

  .skill-title {
    margin-bottom: 35px;
  }

  .skill-categories {
    column-gap: 35px;
    padding: 0 25px;
  }

  .service-container {
    width: 100%;
  }

  .card-with-modal {
    width: 100%;
  }

  .service-card {
    margin: 0 auto;
  }

  .service-modal {
    padding: 50px 12px;
    margin: 75px 20px;
  }

  .portfolio-container {
    row-gap: 25px;
    width: 100%;
  }

  .portfolio-card {
    width: 100%;
  }

  .portfolio-modal {
    padding: 65px 20px;
  }

  .contact-details {
    row-gap: 35px;
  }

  .contact-social-links {
    column-gap: 20px;
  }
  .contact-social-links li {
    font-size: 1.65px;
    width: 75px;
    height: 75px;
  }

  .contact-form-body {
    padding: 35px 20px;
  }

  .contact-form-body h2 {
    text-align: center;
  }

  .contact-form-body .input-group {
    display: grid;
    place-items: center;
  }

  .contact-form-body form .send-message {
    flex-direction: column;
    row-gap: 15px;
  }

  .to-top-btn {
    display: none;
  }
}
